.projectContainer {
  width: auto;
  height: auto;

  --rX: 0;
  --rY: 0;
  --scale: 1;
  transform: perspective(1000px) rotateX(calc(var(--rX) * 1deg))
    rotateY(calc(var(--rY) * 1deg))
    scale3d(var(--scale), var(--scale), var(--scale));
  transform-style: preserve-3d;
}

.project {
  position: relative;
  margin-left: 100px;
  width: 500px;
  margin-top: 20px;
  transform-style: preserve-3d;
  .shade {
    transform-origin: left;
    position: absolute;
    background: linear-gradient(
      30deg,
      rgba(39, 38, 42, 1) 0%,
      rgba(255, 255, 255, 0) 40%
    );
    z-index: 2;
    height: calc(100% - 4px);
    width: 100%;
    top: 0;
    left: 0;
  }
  img {
    width: 500px;
    transform-origin: left;
  }
  .metaData {
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: -70px;
    transform: translateZ(30px);
  }
  h1 {
    font-size: 25px;
  }
  .divider {
    height: 4px;
    background-color: #f1f1f1;
  }
  .belowDivider {
    color: grey;
    margin-top: 5px;
  }
}

.animationContainer {
  transform-origin: left;
}

.enter {
  animation: enter 0.4s ease-in-out forwards;
}

.exit {
  animation: exit 0.1s ease-in 0.35s forwards;
}

.coverAnimation {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  z-index: 3;
  animation: cover 0.7s ease-in forwards;
  transform-origin: left;
}

@keyframes cover {
  0% {
    transform: translateX(500px) scaleX(0);
  }
  50% {
    transform: translateX(0px) scaleX(1);
  }
  100% {
    transform: translateX(0px) scaleX(0);
  }
}

.initState {
  opacity: 0;
}

@keyframes enter {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
