$height: 50px;

.header {
  position: fixed;
  height: calc($height + 5px);
  top: 0px;
  transition: top 0.3s;
  z-index: 100;
  width: 100vw;
}

.linkContainer {
  position: fixed;
  right: 0;
  top: 5px;
  margin-right: 50px;
  height: $height;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(179, 175, 175);
  div {
    transform: scale(1, 1.2);
    line-height: $height;
    height: $height;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      color: #f9f9f9 !important;
    }
  }
}

.htmlClosing {
  color: rgb(82, 82, 82);
  .greaterThan {
    transform: scale(1, 1.1);
    margin-left: 2px;
    font-size: 15px;
    line-height: $height + 1;
    position: absolute;
  }
}
