.scrollLine {
  position: absolute;
  top: 350px;
  left: 20%;
  height: auto;
  width: 1px;
  background-color: pink;
}

.sectionContainer {
  position: relative;
  width: 80vw;
}

.sectionCircle {
  width: 8px;
  height: 8px;
  position: absolute;
  left: -4.5px;
  border-radius: 50%;
  background-color: rgb(15, 0, 0);
  border: 2px solid pink;
}

.sectionContent {
  position: relative;
  left: 35px;
  top: 50px;
  width: 70vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.subSectionName {
  position: absolute;
  left: 35px;
  top: -3px;
  display: flex;
  color: rgb(179, 175, 175);
}

.htmlClosingSection {
  transform: scale(1, 1.25);
  margin-left: 5px;
  color: rgb(179, 175, 175);
  .greaterThanSection {
    margin-left: 2px;
    font-size: 15px;
    line-height: 19px;
    position: absolute;
  } 
}

#startSectionContainer {
  height: 65vh;
  #startSectionContent {
    h1 {
      margin-top: 0px;
      margin-bottom: 15px;
      font-weight: 900;
      font-size: 40px;
      span {
        color: purple;
      }
    }
    h2 {
      color: rgb(179, 175, 175);
      font-weight: normal;
      font-size: 20px;
    }
  }
}

#workSectionContainer {
  margin-bottom: 200px;
}

#aboutSectionContainer {
  height: 780px;
}

#contactSectionContainer {
  height: 700px;
}

@media (max-width: 900px) {
  #aboutSectionContainer {
    height: 120vw;
  }

  .scrollLine {
    position: absolute;
    top: 350px;
    left: 8%;
    height: auto;
    width: 1px;
    background-color: pink;
  }

  .subSectionName {
    position: absolute;
    left: 25px;
    top: -3px;
    display: flex;
    color: rgb(179, 175, 175);
    font-size: 15px;
  }
  
  .htmlClosingSection {
    transform: scale(1, 1.25);
    margin-left: 5px;
    color: rgb(179, 175, 175);
    .greaterThanSection {
      margin-left: 2px;
      font-size: 15px;
      line-height: 19px;
      position: absolute;
    } 
  }

  .sectionContent {
    position: relative;
    left: 25px;
    top: 50px;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #startSectionContainer {
    #startSectionContent {
      h1 {
        margin-top: 0px;
        margin-bottom: 15px;
        font-weight: 900;
        font-size: 4.6vw;
        span {
          color: purple;
        }
      }
      h2 {
        color: rgb(179, 175, 175);
        font-weight: normal;
        font-size: 3.6vw;
      }
    }
  }
}