* {
  cursor: none;
}

@keyframes coverAnime {
  from {
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
  }
  to {
    width: 100vw;
    height: 100vh;
    transform: translateX(0vw);
  }
}
@keyframes innerCoverAnime {
  from {
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
  }
  to {
    width: 100vw;
    height: 100vh;
    transform: translateX(0vw);
  }
}

.screenCover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
  animation: coverAnime 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s backwards;
  z-index: 101;
}
.innerScreenCover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #310404;
  animation: innerCoverAnime 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.01s
    backwards;
  z-index: 100;
}

#stars {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColor);
}

.insideCircle {
  position: fixed;
  top: 0;
  left: 0;
  height: 7px;
  width: 7px;
  background-color: #f9f9f9;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}

.outsideCircle {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  border: solid 1px #f9f9f9;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  transition-delay: 250ms;
  transition: height 0.2s, width 0.2s;
  pointer-events: none;
  mix-blend-mode: difference;
}

.default {
  height: 19px;
  width: 19px;
}

.hover {
  height: 50px;
  width: 50px;
  border: solid 2px #f9f9f9;
}

@media (hover: none) {
  * {
    cursor: auto;
  }

  .insideCircle {
    display: none;
  }
  
  .outsideCircle {
    display: none;
  }
}
