body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body,
html {
  color: var(--fontColor);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

::selection {
  background-color: rgb(250, 115, 137);
}

.flex {
  display: flex;
}

// global scss variables
:root {
  --backgroundColor: rgb(15, 0, 0);
  --fontColor: #f1f1f1; 
}
