body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

::selection {
  background-color: rgb(250, 115, 137);
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
